@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    width: 100vw;
    height: 100vh;
   background-image: url("../assets/fondo-2.jpg");
   background-repeat: no-repeat;
   background-position: center;
}