@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    width: 100vw;
    height: 100vh;
    background: rgb(84,15,242);
    background: linear-gradient(180deg, rgba(84,15,242,1) 32%, rgba(183,171,255,1) 91%);    
}